.container {
  overflow: hidden;
  width: 100vw;
  height: 80vh;

}
.game__zone {
  background: url("../media/deco/background1.jpg");
  background-repeat: repeat-y;
  background-size : 100vw;
  
  height: 80vh;
  width: 100vw;
  animation: backgroundScroll 800s linear infinite;
  }
// .game__pavement {
//   width:200px;
//   height: 600px;
// }
.game__street {
  margin-left: 200px;
  margin-right: 200px;
  width: 880px;
  height: 600px;
}
  
@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 80000px;
  }
}





.game__char {
  background-image: url("../media/character/hero-m-back.png");
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: cover;
}

.game__enemy--crs {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url("../media/character/crs.png");
}

.game__enemy--thug1 {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url('../media/character/casseurs.png');
}

.game__enemy--thug2 {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url('../media/character/casseurs2.png');
}

.game__enemy--trash {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url("../media/obstacles/trash1.png");
}

.game__enemy--fence {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url("../media/assets/bareer.png");
}




.game__border--left {
  width: 1px;
  height: 600px;
  position: absolute;
  top: 0;
}

.game__border--right {
  width: 1px;
  height: 600px;
  position: absolute;
  top: 0;


}
.game__border--bottom{
  width: 1280px;
  height: 1px;
  position: absolute;
  top: 0;
}

.bar {
  width: 100vw;
  height:20%;
  display: flex;
  background-color: black;

  .health {
    width: 50px;
    height: 50px;
    margin-top: 75px;
    background-image: url('../media/assets/heart.png');
    background-size: cover center;
    background-repeat: no-repeat;
  }
  .game__score {
    font-family: 'VT323', monospace;
    font-size: 60px;
    position: fixed;
    color: white;
  }
}