/* revendications__title

header{
    background-color: black;
    height: 100px;
    width: 10
}

#objectifs{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.objectifs__image{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.objectifs__president{
    height: 100px;
    width: 100px;
}

.objectifs__title{
    font-family: 'VT323', monospace;
    font-size: 50px;
    text-align: center;
    color: white;
    border-color: white;
    text-decoration:underline;
    line-height:10px;
}

.objectifs__character{
    height: 100px;
    width: 100px;
}

/*presentation*/

/* #objectifs__presentation{
    height:510px;
    width:10;
    background-color:black;
}

.objectifs__contexte{
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 36px;
    color: white;  
}
.objectifs__explication{
    height:4px;
    width: 1000px;
    text-align: center;
    font-size:25px;
    font-family: 'VT323', monospace;
    color: white;
    margin-left: 10%;
    margin-bottom:2%;
}

.objectifs__but{
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 40px;
    color: white;
}

.objectifs__phrase{
    height: 10px;
    width: 1000px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: white;
    margin-left: 10%;
}

.objectifs__touch{
    margin-top:30px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 40px;
    color: white;
} */ */
